%ttl {
  // font-size: 12px;
  // font-weight: 400;
  // text-transform: uppercase;
  // letter-spacing: 0.1em;
}

%btn {
  // border: 2px solid $accent;
  // color: $accent;
  // display: inline-block;
  // font-size: 12px;
  // font-weight: 700;
  // letter-spacing: 0.1em;
  // padding: 15px;
  // text-align: center;
  // text-transform: uppercase;
  // transition: background .3s ease, color .3s ease;
  // &:hover {
  //   background: $accent;
  //   color: #fff;
  // }
  // &:disabled,
  // &[disabled] {
  //   opacity: 0.2;
  //   pointer-events: none;
  // }
}
