.activity-item {

  &-inner {
    display: flex;
    flex-wrap: nowrap;
    padding: 12px 0;
  }

  &-avatar {
    background-color: $color-gray-avatar;
    box-shadow: none;
    border-radius: 16px;
    color: $color-main;
    cursor: default;

    margin-right: 25px;
  }

  &-content,
  &-value {
    padding-top: 4px;
  }

  &-content {
    flex: 1;
  }

  &-value {
    text-align: right;
    padding-left: 15px;

    &-main {
      margin-bottom: 5px;
    }

    &-secondary {
      font-size: 12px;
      color: $color-secondary;
    }
  }

  &-title {
    color: $color-font;
    margin-bottom: 5px;
  }

  &-status {
    font-size: 12px;

    &-value {
      margin-right: 10px;
    }

    &-date {
      color: $color-secondary;
    }

    > span {
      display: inline-block;
    }
  }
}

@include maxW(565) {
  .activity-item {
    &-avatar {
      margin-right: 15px;
    }

    &-inner {
      flex-wrap: wrap;
    }

    &-value {
      flex: 1 0 100%;
      text-align: left;
      padding-left: 45px;
      margin-top: 5px;
    }
  }
}