.avatar {
  background: $color-green;
  background-position: center center;
  background-size: cover;
  box-shadow: $box-shadow-base;
  border-radius: 18px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  transition: box-shadow $transition-base;

  &.cursor-default {
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 9px 24px -10px rgba(0,0,0,1);
  }

  &-size {
    &-md {
      border-radius: 14px;
      height: 40px;
      width: 40px;
    }
  }

  .icon {
    fill: currentColor;
    height: 50%;
    width: 50%;
  }
}

@include maxW(767) {
  .avatar {
    &-size-md {
      border-radius: 10px;
      height: 30px;
      width: 30px;
    }
  }
}