.badge {
  background: linear-gradient(135deg, #E34B5D, #E35F4B);
  border-radius: 8px;
  color: #fff;  
  font-size: 12px;
  font-weight: bold;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  transform: translate(-10%, -10%);
  transform-origin: 100% 0%;
  white-space: nowrap;

  &.has-dot {
    top: 10%;
    right: 10%;
    height: 4px;
    width: 4px;
    min-width: 4px;
    padding: 0;
  }

  @include maxW(767) {
    height: 15px;
    width: 15px;
    line-height: 15px;
    min-width: 15px;
    font-size: 9px;
    border-radius: 5px;
  }
}