.btn {
  appearance: none;
  box-shadow: none;
  cursor: pointer;
  background-color: $color-gray;
  border-radius: $border-radius-btn;
  font-size: 12px;
  font-weight: 400;
  font-family: $font;
  text-align: center;
  padding: 12px;
  width: 100%;
  transition: background $transition-base, color $transition-base;

  @media (hover: hover) {
    &:hover {
      background-color: $color-green;
      color: #fff;
    }
  }

  &.active {
    background-color: lighten($color-green, 3%);
    color: #fff;
  }
}