.btn-square {
  background: transparent;
  border-radius: 16px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: $color-font;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 40px;
  transition: box-shadow $transition-base, background $transition-base, color $transition-base;
  appearance: none;

  &--default {
    &:hover {
      background: rgba(255,255,255,.5);
    }
    &:active {
      background: lighten(rgba(255,255,255,.5), 10%);
      box-shadow: $box-shadow-base;
    }
  }

  &--primary {
    background: $color-green;
    box-shadow: $box-shadow-base;
    color: #fff;

    &:hover {
      background: darken($color-green, 3%);
    }
    &:active {
      background: lighten($color-green, 3%);
    }
  }

  .icon {
    fill: currentColor;
    height: 50%;
    width: 50%;
  }
}

@include maxW(767) {
  .btn-square {
    border-radius: 10px;
    height: 30px;
    width: 30px;
  }
}