.burger {
  width: 22px;
  height: 14px;
  cursor: pointer;
  margin-right: 10px;
  position: relative;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $color-font;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out;
    transform-origin: left center;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(3) {
      top: 12px;
    }
  }

  &.is-open {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
        top: -2px;
      }
      &:nth-child(2) {
        width: 0;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 14px;
      }
    }
  }
}