.custom-select {
  width: 100%;
  outline: none;

  &__control {
    border-radius: 12px !important;
    box-shadow: none !important;
    border: 0 !important;
    cursor: pointer !important;
    height: 38px !important;

    &:hover {
      background-color: darken(#fff, 1%) !important;
    }
  }

  &__option {
    &--is-focused {
      background-color: darken(#fff, 5%) !important;
    }
    &--is-selected {
      background-color: lighten($color-green, 5%) !important;
    }
  }

  &__value-container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 2px 8px;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
  }
  &__single-value {
    color: $color-price;
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
  }
  &__indicator {
    // padding-left: 15px !important;
    padding-right: 15px !important;

    .icon {
      width: 10px;
      height: 10px;
    }
  }
  .dummy-input {
    background: 0;
    border: 0;
    font-size: inherit;
    outline: 0;
    padding: 0;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    transform: scale(0);
  }
}

/**-------------------------------
  * select-period
  *-----------------------------*/
.select-period {
  margin-left: auto;
  height: 38px;
  display: flex;
  align-items: center;
  width: 170px;
  position: relative;

  & > .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: none;

    & + .custom-select {
      .custom-select__control {
        padding-left: 30px;
      }
    }
  }
}