.dropdown {
  position: relative;

  &-header {
    padding-right: 20px;
    position: relative;
    cursor: pointer;

    .icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
    }

    &:hover {
      .avatar {
        box-shadow: 0 9px 24px -10px rgba(0,0,0,1);
      }
    }
  }

  &-body {
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: $box-shadow-base;
  }
}

.menu {
  &-list {
    min-width: 150px;
  }
  &-item {
    padding: 0;
  }
  &-link {
    padding: 10px 20px;
    display: block;
    user-select: none;

    &:hover {
      background: darken(#fff, 5%);
    }
  }
  &-divider {
    margin: 7px 0;
    height: 1px;
    width: 100%;
    background: $color-gray;
  }
}