.rc-collapse {
  &-anim-active {
    transition: height 0.2s ease-out;
  }

  &-item {
    border-top: 1px solid $color-border-gray;

    &:first-child {
      border-top: none;
    }
    &:last-child > .rc-collapse-content {
      border-radius: 0 0 3px 3px;
    }

    .rc-collapse-header {
      display: flex;
      align-items: center;
      line-height: 22px;
      padding: 16px 0;
      cursor: pointer;
      position: relative;
      outline: none;

      .arrow {
        display: inline-block;
        content: '\20';
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 4px solid #666;
        vertical-align: middle;
        margin-right: 8px;
      }

      .rc-collapse-extra {
        margin: 0 16px 0 auto;
      }
    }
  }

  &-item-disabled {
    .rc-collapse-header {
      cursor: not-allowed;
      color: #999;
      background-color: #f3f3f3;
      pointer-events: none;
    }
  }

  &-item-active {
    .rc-collapse-header {
      .arrow {
        position: relative;
        top: 2px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 4px solid #666;
        margin-right: 6px;
      }
    }
  }
  
  &-content {
    overflow: hidden;

    &-box {
      margin-top: 10px;
      margin-bottom: 16px;
    }

    &-inactive {
      display: none;
    }
  }
}

