@import 'static/scss/base/vars';
@import 'static/scss/base/mixins/mixins';

/**-------------------------------
  * react-tabs
  *-----------------------------*/
.react-tabs {
  &::before {
    @include wrapperGray;
    top: 68px;
    height: calc(100% - 68px);
  }

  &--wicon {
    .icon, span {
      pointer-events: none;
    }

    .react-tabs__tab {
      padding: 14px 40px;

      &:nth-child(1) {
        padding-left: 0;
      }

      &-wicon {
        display: flex;
        align-items: center;
      }

      .icon {
        fill: $color-light-gray;
        transition: fill .3s ease;
        height: 40px;
        width: 40px;
        margin-right: 12px;
      }

      &:hover,
      &--selected {
        .icon {
          fill: $accent;
        }
      }
    }
  }
}

.react-tabs__tab {
  background: #fff;
  border: none;
  bottom: 0;
  color: $color-light-gray;
  cursor: pointer;
  display: inline-block;
  font-family: $font-title;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  list-style: none;
  padding: 14px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.35s ease;

  &:hover {
    color: $color-font;
  }

  &::after {
    background: $accent;
    content: '';
    position: absolute;
    bottom: -2px;
    left: -1px;
    height: 2px;
    width: calc(100% + 2px);
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform $base-transition;
  }

  &::before {
    content: "";
    background: $color-border-gray;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -22px;
    height: 44px;
    width: 1px;
  }

  &:nth-child(1) {
    &::before {
      display: none;
    }
  }

  &--selected {
    background: #fff;
    border-color: transparent;
    color: $color-font;
    cursor: default;
    pointer-events: none;

    &::after {
      transform: scaleX(1);
      transform-origin: left center;
    }
  }

  &-list {
    // border-bottom: 1px solid $color-f0;
    padding: 0;
  }

  &-panel {
    opacity: 0;
    display: none;

    &--selected {
      display: block;
      animation: fade-in 750ms ease forwards;
    }
  }

  @include maxW(565) {
    padding: 12px 10px;
    width: 100%;
  }
}