/**-------------------------------
  * keyframes
  *-----------------------------*/
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**-------------------------------
  * react-animations
  *-----------------------------*/
.fade-in-scale {
  &-enter {
    opacity: 0.01;
    transform: scaleY(0);

    &-active {
      opacity: 1;
      transform: scaleY(1);
      transition: all 300ms;
    }
  }

  &-exit {
    opacity: 1;
    transform: scaleY(1);

    &-active {
      opacity: 0.01;
      transform: scaleY(0);
      transition: all 300ms;
    }
  }
}

.fade {
  &-enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: all 400ms ease;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: all 400ms ease;
    }
  }
}

.fade-down {
  &-enter {
    opacity: 0;
    transform: translateY(-15px);

    &-active {
      opacity: 1;
      transform: translateY(0);
      transition: all 350ms ease;
    }
  }

  &-exit {
    opacity: 1;
    transform: translateY(0);

    &-active {
      opacity: 0;
      transform: translateY(-15px);
      transition: all 350ms ease;
    }
  }
}
