html, body {
  min-height: 100%;
}

body {
  font-family: $font;
  color: $color-font;
  font-size: $font-size;
  font-weight: $font-weight;
  min-width: 320px;
  position: relative;
  line-height: 1.2;
  overflow-x: hidden;
}

/**-------------------------------
  * containers, wrappers
  *-----------------------------*/
.wrapper,
.container,
.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.container {
  position: relative;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.main {
  background-color: $color-light-gray;
  flex: 1;
  transition: all .35s linear;
  max-width: 100%;
  max-width: calc(100% - 240px);
  padding-bottom: 25px;
}

.sprite-container {
  display: none !important;
}

a, button {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}

@include maxW(767) {
  .main {
    max-width: 100%;
    padding-top: 50px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}