.color-red {
  color: $color-red;
}

.text-center,
.center {
  text-align: center;
}

.cursor-default {
  cursor: default;
}

.pending {
  color: $color-pink;
}

.completed {
  color: $color-green;
}

.error {
  color: $color-red;
}