$font: 'Lato', sans-serif;

$font-size: 14px;
$font-size-title: 15px;
$font-size-title-page: 24px;
$font-weight: 400;

$color-font: #565682;
$color-main: #9191AF;
$color-secondary: #C7CFE4;
$color-link: #0FB2AB;
$color-link-mask: #EEF2F6;
$color-price: #212145;

$color-pink: #C377F0;
$color-green: #0FB269;
$color-red: #EB5353;
$color-gray: #DCE1EE;
$color-light-gray: #EDEFF2;
$color-gray-avatar: #F1F3F8;

$transition-base: .3s ease;
$transition-modern: .3s cubic-bezier(.645, .045, .355, 1);

$border-radius: 16px;
$border-radius-btn: 10px;

$box-shadow-base: 0 9px 14px -10px rgba(0,0,0,1);

$offset-base: 24px;