@mixin minW($param) {
  @media (min-width: #{$param}px) { 
    @content;
  }
}

@mixin maxW($param) {
  @media (max-width: #{$param}px) { 
    @content;
  }
}

@mixin minmaxW($param_min, $param_max) {
  @media (min-width: #{$param_min}px) and (max-width: #{$param_max}px) { 
    @content;
  }
}

@mixin edge {
  @supports (-ms-ime-align:auto) {
    @content;
  }
}

@mixin ie {
  @media only screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}