@import '../vars';

@mixin placeholderDefault($color) {
  color: $color;
  font-family: $font;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .01em;

  opacity: 1;
  filter: none;
  transition: 0.175s opacity ease-in-out .175s;
}

@mixin placeholderOffDefault {
  opacity: 0;
  filter: alpha(opacity=0);
  transition: 0.175s opacity ease-in-out;
}

@mixin placeholder($color: $color-light-gray) {
  &::-webkit-input-placeholder {
    @include placeholderDefault($color);
    @content;
  }

  &::-moz-placeholder {
    @include placeholderDefault($color);
    @content;
  }

  &:-moz-placeholder {
    @include placeholderDefault($color);
    @content;
  }

  &:-ms-input-placeholder {
    @include placeholderDefault($color);
    @content;
  }
}

@mixin placeholder-focus {
  &:focus::-webkit-input-placeholder {
    @include placeholderOffDefault;
    @content;
  }

  &:focus::-moz-placeholder {
    @include placeholderOffDefault;
    @content;
  }

  &:focus:-moz-placeholder {
    @include placeholderOffDefault;
    @content;
  }

  &:focus:-ms-input-placeholder {
    @include placeholderOffDefault;
    @content;
  }
}

@mixin fieldInput {
  border: none;
  box-shadow: none;
  appearance: none;
  display: inline-block;
  outline: none;
  color: $color-font;
  font-family: $font;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding: 10px 15px;
  height: 35px;
  width: 100%;

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  @include placeholder;
  @include placeholder-focus;
}

@mixin circle($diam) {
  border-radius: 50%;
  height: $diam;
  width: $diam;
}

@mixin absCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ratioWrap($param) {
  overflow: hidden;
  position: relative;
  padding-bottom: #{$param};
}

@mixin ratioInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin wrapperGray {
  background: $color-gray;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1380px;
  margin-left: -(1380px / 2);
}