.page-overview {
  .row-body {
    .col-1 {
      flex: 0 0 40%;
      max-width: 370px;
      margin-right: ($offset-base * 2);
    }

    .col-2 {
      flex: 1;
    }
  }

  @include maxW(1300) {
    .row-body {
      .col-1 {
        margin-right: $offset-base;
      }
    }
  }

  @include maxW(1000) {
    .row-body {
      flex-wrap: wrap;

      .col-1 {
        flex-basis: 100%;
        max-width: 100%;
        margin: 0;
      }
      .col-2 {
        flex-basis: 100%;
      }
    }
  }
}
