.app {
  background-color: $color-light-gray;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}

@include maxW(767) {
  .app {
    display: block;
  }
}