/**-------------------------------
  * balances
  *-----------------------------*/
.balances {
  margin-bottom: 50px;

  &-header {
    display: flex;
    align-items: center;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
  }
}

/**-------------------------------
  * balances-card
  *-----------------------------*/
.balances-card {
  flex: 0 0 33.33%;
  padding: 0 $offset-base;
  margin-top: 28px;
  color: $color-main;

  &-content {
    padding-left: $offset-base;
  }

  &-name {
    margin-bottom: 14px;
    text-transform: uppercase;
  }

  &-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  &-total {
    display: flex;
    align-items: flex-start;

    &-value {
      color: $color-price;
      font-size: 30px;
      font-weight: 700;
      line-height: 1;
    }

    &-currency {
      font-size: 12px;
      text-transform: uppercase;
      margin-left: 10px;
      line-height: 1;
      padding-top: 5px;
    }
  }

  &-diff {
    margin-left: auto;
    text-align: right;
    padding-right: 5px;
    padding-top: 2px;

    &-period {
      font-size: 12px;
    }

    &-value {
      &.negative {
        color: $color-red;
      }

      &.positive {
        color: $color-green;
      }
    }
  }

  &-chart {
    margin-left: -5px;
    margin-bottom: -5px;
  }

  .card {
    padding: $offset-base $offset-base 0 0;
    min-height: 160px;
    overflow: hidden;
  }

  .recharts-wrapper,
  .recharts-surface {
    width: 100% !important;
  }

  .custom-tooltip {
    background: rgba(255,255,255,.85);
    padding: 4px 6px;
    border-radius: 4px;

    .label {
      white-space: nowrap;
    }

    .currency {
      font-size: .7em;
      display: inline-block;
      margin-left: 3px;
      text-transform: uppercase;
    }
  }
}

@include maxW(1300) {
  .balances {
    margin-bottom: 40px;

    &-cards {
      margin-left: -$offset-base / 2;
      margin-right: -$offset-base / 2;
    }
    &-card {
      padding-left: $offset-base / 2;
      padding-right: $offset-base / 2;
    }
  }
}

@include maxW(1200) {
  .balances {
    &-card {
      flex-basis: 50%;
    }
  }
}

@include maxW(900) {
  .balances {
    &-card {
      flex-basis: 100%;
    }
  }
}