.header {
  position: absolute;
  top: 30px;
  right: 0;
  height: 40px;
  padding: 0 40px;
  z-index: 10;

  &-inner {
    height: 100%;
    display: flex;
    align-items: center;

    & > span {
      display: inline-block;
      padding: 0 15px;
    }
  }

  &-top {
    display: none;
  }

  .btn-square {
    margin-right: 20px;
  }

  .app-logo,
  .burger {
    display: none;
  }

  @include maxW(767) {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 0;
    transform: translate3d(0,0,0);
    box-shadow: 0 5px 10px -5px rgba(0,0,0,.2);

    &-inner {
      background: #DCE1EE;
      padding: 10px 15px;
    }

    &-profile {
      .dropdown-header {
        padding-right: 15px;
      }
    }

    .app-logo,
    .burger {
      display: block;
    }

    .app-logo {
      margin-right: auto;

      img {
        height: 30px;
      }
    }

    .btn-square {
      margin-right: 15px;
    }
  }

  @include maxW(370) {
    .add-menu-item {
      display: none;
    }
  }
}