.page {
  &-header {
    padding: 30px 0 25px;
    padding-right: 300px;

    .title-page {
      min-height: 40px;
      display: flex;
      align-items: center;
    }
  }
}

@include maxW(767) {
  .page {
    &-header {
      padding: 15px 0 10px;
    }
  }
}