.recipients {
  margin-bottom: $offset-base * 2;

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -16px;
  }

  .title-block {
    margin-bottom: 8px;
  }

  .avatar {
    margin: 8px 16px 8px 0;
  }

  .link-base {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
}