/**-------------------------------
  * sidebar
  *-----------------------------*/
.sidebar {
  background: $color-gray;
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: transform .35s linear, box-shadow $transition-base;
  transform: translate3d(0,0,0);
  z-index: 10;
  
  &-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-inner {
    height: 100%;
    overflow: auto;
    padding: 0 40px 25px 40px;
    width: calc(100% + 20px);
  }

  &-header {
    padding: 30px 0 25px;
  }

  &-overlay {
    display: none;
    height: 100vh;
    width: 100vw;
    z-index: 50;
  }

  @include maxW(1000) {
    &-inner {
      padding: 0 20px 25px 20px;
      width: 100%;
    }
  }

  @include maxW(767) {
    top: 50px;
    height: calc(100% - 50px);
    transform: translate3d(-120%,0,0);
    z-index: 100;

    &-header {
      display: none;
    }

    &-inner {
      padding-top: 25px;
    }

    &.is-open {
      box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .5);
      transform: translate3d(0,0,0);

      .sidebar-overlay {
        display: block;
      }
    }
  }
}

/**-------------------------------
  * sidebar-menu-item
  *-----------------------------*/
.sidebar-menu-item {
  $s: &;
  margin-bottom: 8px;

  &-link {
    display: flex;
    height: 38px;
    align-items: center;
    position: relative;
    color: $color-font;
    transition: color $transition-base;

    &::before {
      background: $color-link-mask;
      border-radius: 0 16px 16px 0;
      content: "";
      position: absolute;
      top: 0;
      left: -40px;
      bottom: 0;
      width: calc(100% + 40px);
      transform: translateX(-100%);
      transition: transform $transition-modern;
    }

    &:hover {
      color: $color-link;

      #{$s}-icon {
        color: $color-link;
        opacity: .7;
      }
    }

    &.active {
      color: $color-link;
      pointer-events: none;

      &::before {
        transform: translateX(0);
      }

      #{$s}-icon {
        color: $color-link;
      }
    }
  }

  &-icon {
    color: $color-main;
    display: inline-flex;
    align-items: center;
    height: 18px;
    width: 18px;
    margin-right: 12px;
    position: relative;
    transition: color $transition-base, opacity $transition-base;

    svg {
      fill: currentColor;
    }
  }

  &-label {
    flex: 1;
    padding-right: 24px;
    position: relative;
  }

  &-badge {
    background: linear-gradient(-36deg, #E34B5D, #565682);
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    height: 20px;
    min-width: 20px;
    line-height: 19px;
    padding: 0 3px;
    text-align: center;

    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }

  &--custom {
    margin-bottom: 0;

    #{s}-link {
      height: 32px;
    }
  }
}

